<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itheima.mobilesafe"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="21" />

    <!-- 配置测试指令集，配置测试哪个应用程序 -->
    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.itheima.mobilesafe" >
    </instrumentation>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/main_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:name=".exception.MobileSafeApplication">
        <uses-library android:name="android.test.runner" />

        <activity
            android:name="com.itheima.mobilesafe.activites.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="ooo.aaa.bbb" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.itheima.mobilesafe.activites.HomeActivity" >
        </activity>
        <activity android:name="com.itheima.mobilesafe.activites.SettingActivity" >
        </activity>
        <activity android:name="com.itheima.mobilesafe.activites.LostFindActivity" >
        </activity>
        <activity android:name="com.itheima.mobilesafe.activites.Setup1Activity" >
        </activity>
        <activity android:name="com.itheima.mobilesafe.activites.Setup2Activity" >
        </activity>
        <activity android:name="com.itheima.mobilesafe.activites.Setup3Activity" >
        </activity>
        <activity android:name="com.itheima.mobilesafe.activites.Setup4Activity" >
        </activity>
        <activity android:name="com.itheima.mobilesafe.activites.SelectContactActivity" >
        </activity>
        <activity android:name="com.itheima.mobilesafe.activites.CallSmsSafeActivity" >
        </activity>
        <activity android:name="com.itheima.mobilesafe.activites.AtoolsActivity" >
        </activity>
        <activity android:name="com.itheima.mobilesafe.activites.NumberAddressQueryActivity" >
        </activity>
        <activity android:name="com.itheima.mobilesafe.activites.AppManagerActivity" >
        </activity>
        <activity android:name="com.itheima.mobilesafe.activites.TaskManagerActivity" >
        </activity>
        <activity android:name="com.itheima.mobilesafe.activites.TaskManagerSettingActivity" >
        </activity>
        <activity android:name="com.itheima.mobilesafe.activites.AppLockActivity" >
        </activity>
        <activity
            android:name="com.itheima.mobilesafe.activites.EnterPwdActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance" >
        </activity>
        <activity android:name="com.itheima.mobilesafe.activites.CommonNumberActivity" >
        </activity>
        <activity android:name="com.itheima.mobilesafe.activites.CleanCacheActivity" >
        </activity>
        <activity android:name="com.itheima.mobilesafe.activites.TrafficManagerActivity" >
        </activity>
        <activity android:name="com.itheima.mobilesafe.activites.AntivirusActivity" >
        </activity>

        <service android:name="com.itheima.mobilesafe.services.LocationService" >
        </service>
        <service android:name="com.itheima.mobilesafe.services.CallSmsSafeService" >
        </service>
        <service android:name="com.itheima.mobilesafe.services.ShowLocationService" >
        </service>
        <service android:name="com.itheima.mobilesafe.services.AutoKillService" >
        </service>
        <service android:name="com.itheima.mobilesafe.services.UpdateWidgetService" >
        </service>
        <service android:name="com.itheima.mobilesafe.services.WatchDogService" >
        </service>

        <receiver android:name="com.itheima.mobilesafe.receives.BootCompleteReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.itheima.mobilesafe.receives.SmsReciver" >
            <intent-filter android:priority="1000" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.itheima.mobilesafe.receives.MyDeviceAdmin"
            android:description="@string/sample_device_admin_description"
            android:label="@string/sample_device_admin"
            android:permission="android.permission.BIND_DEVICE_ADMIN" >
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_sample" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
        <!-- 2 特殊的广播接收者，清单文件中配置，拷贝api文档 -->
        <receiver android:name="com.itheima.mobilesafe.receives.MyWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <!-- 3.配置meta-data -->
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/example_appwidget_info" />
        </receiver>
        <receiver android:name="com.itheima.mobilesafe.receives.KillAllRecevier" >
            <intent-filter>
                <action android:name="com.itheima.killall" />
            </intent-filter>
        </receiver>
    </application>

</manifest>